Let's compare one spreadsheet to the other and see if any of the same records that exist between the 2 have changed.

In [1]:
import numpy as np
import pandas as pd

np.__version__, pd.__version__
# ('1.19.2', '1.2.2')

('1.19.2', '1.2.2')

In [2]:
csvName = 'COVID19-eng-2021-03-04'
csvFileName = 'data/' +  csvName + '.csv'
covid19A = pd.read_csv(csvFileName, header=0, index_col='Case identifier number')

In [5]:
csvName = 'COVID19-eng-Fixed'
csvFileName = 'data/' +  csvName + '.csv'
covid19B = pd.read_csv(csvFileName, header=0, index_col='Case identifier number')

In [6]:
covid19A.head(10)

,Region,Episode week,Episode week group,Episode year,Gender,Age group,Occupation,Asymptomatic,Onset week of symptoms,Onset year of symptoms,Hospital status,Recovered,Recovery week,Recovery year,Death,Transmission
Case identifier number,,,,,,,,,,,,,,,,
1,3,2,0,21,1,2,9,9,99,99,9,1,99,99,2,9
2,2,3,0,21,2,2,1,2,3,21,3,1,3,21,2,1
3,2,3,0,21,1,1,4,1,99,99,3,1,4,21,2,1
4,3,35,0,20,1,3,4,2,35,20,9,1,99,99,2,1
5,2,46,0,20,2,8,4,2,46,20,3,1,48,20,2,1
6,2,52,0,20,1,5,4,1,99,99,3,1,99,99,2,1
7,3,39,0,20,1,1,4,9,39,20,3,1,99,99,2,9
8,3,42,0,20,1,2,4,2,42,20,3,1,99,99,2,1
9,2,52,0,20,1,5,4,2,52,20,3,1,99,99,2,1
10,2,7,0,21,2,4,4,1,99,99,3,9,99,99,9,9

In [8]:
covid19A.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 839926 entries, 1 to 839926
Data columns (total 16 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Region                  839926 non-null  int64
 1   Episode week            839926 non-null  int64
 2   Episode week group      839926 non-null  int64
 3   Episode year            839926 non-null  int64
 4   Gender                  839926 non-null  int64
 5   Age group               839926 non-null  int64
 6   Occupation              839926 non-null  int64
 7   Asymptomatic            839926 non-null  int64
 8   Onset week of symptoms  839926 non-null  int64
 9   Onset year of symptoms  839926 non-null  int64
 10  Hospital status         839926 non-null  int64
 11  Recovered               839926 non-null  int64
 12  Recovery week           839926 non-null  int64
 13  Recovery year           839926 non-null  int64
 14  Death                   839926 non-null  int64
 15  Transmission            839926 non-null  int64
dtypes: int64(16)
memory usage: 108.9 MB

In [7]:
covid19B.head(10)

,Region,Episode week,Episode week group,Episode year,Gender,Age group,Occupation,Asymptomatic,Onset week of symptoms,Onset year of symptoms,...,"Symptom, pain","Symptom, irritability","Symptom, diarrhea","Symptom, other",Hospital status,Recovered,Recovery week,Recovery year,Death,Transmission
Case identifier number,,,,,,,,,,,,,,,,,,,,,
1,3,52,0,20,1,6,9,2,52,20,...,9,9,9,9,2,9,99,99,9,9
2,2,1,0,21,2,4,4,2,99,99,...,9,9,9,9,3,9,99,99,9,9
3,2,1,0,21,2,4,2,2,1,21,...,9,9,9,9,3,9,99,99,9,9
4,2,45,0,20,2,1,4,2,45,20,...,9,9,9,1,3,1,46,20,2,9
5,4,52,0,20,2,1,4,9,99,99,...,9,9,9,9,3,1,99,99,2,1
6,2,50,0,20,1,5,4,2,50,20,...,9,9,9,9,3,1,51,20,2,9
7,3,42,0,20,2,1,9,2,42,20,...,9,9,9,9,9,1,99,99,2,1
8,2,51,0,20,2,2,4,2,51,20,...,9,9,9,9,3,1,99,99,2,9
9,3,15,0,20,2,8,4,1,15,20,...,9,9,9,9,9,1,99,99,2,1
10,3,1,0,21,1,1,9,2,1,21,...,9,9,9,9,9,9,99,99,9,9

In [9]:
covid19B.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 666237 entries, 1 to 666237
Data columns (total 29 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   Region                        666237 non-null  int64
 1   Episode week                  666237 non-null  int64
 2   Episode week group            666237 non-null  int64
 3   Episode year                  666237 non-null  int64
 4   Gender                        666237 non-null  int64
 5   Age group                     666237 non-null  int64
 6   Occupation                    666237 non-null  int64
 7   Asymptomatic                  666237 non-null  int64
 8   Onset week of symptoms        666237 non-null  int64
 9   Onset year of symptoms        666237 non-null  int64
 10  Symptom, cough                666237 non-null  int64
 11  Symptom, fever                666237 non-null  int64
 12  Symptom, chills               666237 non-null  int64
 13  Symptom, sore throat          666237 non-null  int64
 14  Symptom, runny nose           666237 non-null  int64
 15  Symptom, shortness of breath  666237 non-null  int64
 16  Symptom, nausea               666237 non-null  int64
 17  Symptom, headache             666237 non-null  int64
 18  Symptom, weakness             666237 non-null  int64
 19  Symptom, pain                 666237 non-null  int64
 20  Symptom, irritability         666237 non-null  int64
 21  Symptom, diarrhea             666237 non-null  int64
 22  Symptom, other                666237 non-null  int64
 23  Hospital status               666237 non-null  int64
 24  Recovered                     666237 non-null  int64
 25  Recovery week                 666237 non-null  int64
 26  Recovery year                 666237 non-null  int64
 27  Death                         666237 non-null  int64
 28  Transmission                  666237 non-null  int64
dtypes: int64(29)
memory usage: 152.5 MB