## COVID19-eng.csv load and examine

https://www150.statcan.gc.ca/n1/pub/13-26-0003/132600032020001-eng.htm

In [1]:
import numpy as np
import pandas as pd
np.__version__, pd.__version__
# MacBookPro ('1.19.2', '1.2.2')

('1.19.2', '1.2.2')

In [2]:
csvName = 'COVID19-eng-2021-03-04'
csvFileName = 'data/' +  csvName + '.csv'
covid19 = pd.read_csv(csvFileName, header=0, index_col='Case identifier number')

In [3]:
covid19.head(10)

,Region,Episode week,Episode week group,Episode year,Gender,Age group,Occupation,Asymptomatic,Onset week of symptoms,Onset year of symptoms,Hospital status,Recovered,Recovery week,Recovery year,Death,Transmission
Case identifier number,,,,,,,,,,,,,,,,
1,3,2,0,21,1,2,9,9,99,99,9,1,99,99,2,9
2,2,3,0,21,2,2,1,2,3,21,3,1,3,21,2,1
3,2,3,0,21,1,1,4,1,99,99,3,1,4,21,2,1
4,3,35,0,20,1,3,4,2,35,20,9,1,99,99,2,1
5,2,46,0,20,2,8,4,2,46,20,3,1,48,20,2,1
6,2,52,0,20,1,5,4,1,99,99,3,1,99,99,2,1
7,3,39,0,20,1,1,4,9,39,20,3,1,99,99,2,9
8,3,42,0,20,1,2,4,2,42,20,3,1,99,99,2,1
9,2,52,0,20,1,5,4,2,52,20,3,1,99,99,2,1
10,2,7,0,21,2,4,4,1,99,99,3,9,99,99,9,9

In [4]:
covid19.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 839926 entries, 1 to 839926
Data columns (total 16 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Region                  839926 non-null  int64
 1   Episode week            839926 non-null  int64
 2   Episode week group      839926 non-null  int64
 3   Episode year            839926 non-null  int64
 4   Gender                  839926 non-null  int64
 5   Age group               839926 non-null  int64
 6   Occupation              839926 non-null  int64
 7   Asymptomatic            839926 non-null  int64
 8   Onset week of symptoms  839926 non-null  int64
 9   Onset year of symptoms  839926 non-null  int64
 10  Hospital status         839926 non-null  int64
 11  Recovered               839926 non-null  int64
 12  Recovery week           839926 non-null  int64
 13  Recovery year           839926 non-null  int64
 14  Death                   839926 non-null  int64
 15  Transmission            839926 non-null  int64
dtypes: int64(16)
memory usage: 108.9 MB

In [6]:
print('Region => ', covid19.Region.unique())
print('Gender =>', covid19.Gender.unique())
print('Age group =>', covid19['Age group'].unique())
print('Occupation =>', covid19.Occupation.unique())
print('Asymptomatic =>', covid19.Asymptomatic.unique())
print('Hospital status =>', covid19['Hospital status'].unique())
print('Recovered =>', covid19.Recovered.unique())
print('Death =>', covid19['Death'].unique())
print('Transmission =>', covid19['Transmission'].unique())

Region =>  [3 2 4 5 1]
Gender => [1 2 9]
Age group => [ 2  1  3  8  5  4  6  7 99]
Occupation => [9 1 4 2 3]
Asymptomatic => [9 2 1]
Hospital status => [9 3 2 1]
Recovered => [1 9 2]
Death => [2 9 1]
Transmission => [9 1 2]

In [7]:
for column in enumerate(['Region','Episode week group','Episode year','Gender','Age group','Occupation','Asymptomatic','Hospital status','Recovered', 'Death', 'Transmission']):
    print(column[1], '=>', covid19[column[1]].unique().tolist())

Region => [3, 2, 4, 5, 1]
Episode week group => [0, 4, 5, 1, 2, 3]
Episode year => [21, 20, 99]
Gender => [1, 2, 9]
Age group => [2, 1, 3, 8, 5, 4, 6, 7, 99]
Occupation => [9, 1, 4, 2, 3]
Asymptomatic => [9, 2, 1]
Hospital status => [9, 3, 2, 1]
Recovered => [1, 9, 2]
Death => [2, 9, 1]
Transmission => [9, 1, 2]

In [8]:
region = { 1:'Atlantic (New Brunswick, Nova Scotia, Prince Edward Island, Newfoundland and Labrador)', 2:'Quebec', 3:'Ontario and Nunavut', 4:'Prairies (Manitoba, Saskatchewan, Alberta) and the Northwest Territories', 5:'British Columbia and Yukon'}
gender = {1:'Male', 2:'Female', 9:'Not Stated/Other'}
ageGroup = {1:'0-19', 2:'20-29', 3:'30-39', 4:'40-49', 5:'50-59', 6:'60-69', 7:'70-79', 8:'80+', 99:'Not Stated'}
occupation = {1:'Health Care Worker', 2:'School or daycare worker/attendee', 3:'Long Term Care Resident', 4:'Other', 9:'Not Stated'}
asymptomatic = {1:'Yes', 2:'No', 9:'Not Stated'}
hospitalStatus = {1:'Hospitalized - ICU', 2:'Hospitalized - Non-ICU', 3:'Not Hospitalized', 9:'Not Stated/Unknown'}
recovered = {1:'Yes', 2:'No', 9:'Not Stated/Unknown'}
death = {1:'Yes', 2:'No', 9:'Not Stated'}
transmission = {1:'Domestic Acquisition: “Contact of COVID Case” or “Contact with traveler” or “Unknown Source”', 2:'International Travel', 9:'Not Stated/Pending'}

In [9]:
a = [1,4,2,8,6,12]
print(a)

[1, 4, 2, 8, 6, 12]

In [10]:
a.sort()

In [11]:
a

[1, 2, 4, 6, 8, 12]

In [12]:
# I am on the macbookpro in the MacBookPro branch of this repo, 
# and am saving this change to this notebook on Thursday, March 4, 2021 at 1:01pm

In [ ]:
# on the KAUWITB computer in the KAUWITB branch.
# Thursday, March 4, 2021 4:32pm
# Messing around to see how to see and resolve conflicts

In [ ]:
# on KAUWITB in the MacBookPro branch
# Friday, March 5, 2021 3:58pm

In [7]:
# https://www.geeksforgeeks.org/creating-a-sqlite-database-from-csv-with-python/

createDb = True

if createDb:
    
    import sqlite3
    # Connect to SQLite database 
    conn = sqlite3.connect(r'COVID19-eng.db') 
    # Load CSV data into Pandas DataFrame 
    covid19.to_sql(csvName, conn, if_exists='replace', index=False) 
    # Close connection to SQLite database 
    conn.close() 
    
    

# # Import required libraries 
# import sqlite3 
# import pandas as pd 

# # Connect to SQLite database 
# conn = sqlite3.connect(r'covid19.db') 

# # Load CSV data into Pandas DataFrame 
# # stud_data = pd.read_csv('stud_data.csv') 
# # Write the data to a sqlite table 
# covid19.to_sql('covid', conn, if_exists='replace', index=False) 

# # Create a cursor object 
# # cur = conn.cursor()
# # Fetch and display result 
# # for row in cur.execute('SELECT * FROM covid'): 
# # 	print(row) 
# # Close connection to SQLite database 
# conn.close()

/home/rob/anaconda3/envs/covid19/lib/python3.8/site-packages/pandas/core/generic.py:2778: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

In [20]:
groupBy = ['Region', 'Gender','Age group']
totalCases = covid19.groupby(groupBy)[['Region']].count()
totalCases.rename(columns = {'Region':'Cases'}, inplace = True)

totalDeaths = covid19.loc[covid19['Death']==1].groupby(groupBy)[['Region']].count()
totalDeaths.rename(columns = {'Region':'Deaths'}, inplace = True) 

notHospitalized = covid19.loc[covid19['Hospital status']==3].groupby(groupBy)[['Region']].count()
notHospitalized.rename(columns = {'Region':'Not Hospitalized'}, inplace = True) 

hospitalized = covid19.loc[(covid19['Hospital status'].isin([1,2]))].groupby(groupBy)[['Region']].count()
hospitalized.rename(columns = {'Region':'Hospitalized'}, inplace = True) 


regionGenderAgeGroup = pd.merge(totalCases, notHospitalized, on=groupBy, how='outer')
regionGenderAgeGroup = pd.merge(regionGenderAgeGroup, hospitalized, on=groupBy, how='outer')
regionGenderAgeGroup = pd.merge(regionGenderAgeGroup, totalDeaths, on=groupBy, how='outer')

regionGenderAgeGroup = regionGenderAgeGroup.fillna(0)

regionGenderAgeGroup['Deaths'] = regionGenderAgeGroup['Deaths'].astype(int)
regionGenderAgeGroup['Not Hospitalized'] = regionGenderAgeGroup['Not Hospitalized'].astype(int)
regionGenderAgeGroup['Hospitalized'] = regionGenderAgeGroup['Hospitalized'].astype(int)

regionGenderAgeGroup.head(10)

                         Cases  Not Hospitalized  Hospitalized  Deaths
Region Gender Age group
1      1      1            120               120             0       0
              2            254               252             0       0
              3            180               178             0       0
              4            136               130             2       0
              5            195               174            13       0
              6            163               147            12       4
              7             96                80            12      13
              8             49                42             5      12
              99            21                20             1       0
       2      1            141               139             0       0

In [21]:
regionGenderAgeGroup.to_csv('regionGenderAgeGroup.csv')

In [4]:
# Number of cases
totalCases = covid19.groupby(['Gender','Age group','Region'])[['Region']].count()
totalCases.rename(columns = {'Region':'Cases'}, inplace = True) 
totalCases.head(50)

                         Cases
Gender Age group Region
1      1         1         120
                 2       19052
                 3       15445
                 4       15437
                 5        3849
       2         1         254
                 2       16043
                 3       25032
                 4       14814
                 5        6900
       3         1         180
                 2       13757
                 3       18002
                 4       14537
                 5        5312
       4         1         136
                 2       14820
                 3       15084
                 4       11717
                 5        4125
       5         1         195
                 2       14061
                 3       15751
                 4        9429
                 5        3654
       6         1         163
                 2        9417
                 3       11000
                 4        6193
                 5        2461
       7         1          96
                 2        6300
                 3        5742
                 4        3108
                 5        1444
       8         1          49
                 2        7947
                 3        5393
                 4        2666
                 5        1210
       99        1          21
                 2          74
                 3          90
                 4          78
                 5          23
2      1         1         141
                 2       18556
                 3       14212
                 4       14547
                 5        3522

In [67]:
# Number of cases
totalCases = covid19.groupby(['Gender','Age group'])[['Region']].count()
totalCases.rename(columns = {'Region':'Cases'}, inplace = True) 
totalCases.head(50)

                  Cases
Gender Age group
1      1          53903
       2          63043
       3          51788
       4          45882
       5          43090
       6          29234
       7          16690
       8          17265
       99           286
2      1          50978
       2          61915
       3          54192
       4          51919
       5          46262
       6          27548
       7          16944
       8          33633
       99           202
9      1            226
       2            334
       3            245
       4            212
       5            155
       6             93
       7             58
       8            106
       99            34

In [68]:
# Number of deaths 
totalDeaths = covid19.loc[covid19['Death']==1].groupby(['Gender','Age group'])[['Region']].count()
totalDeaths.rename(columns = {'Region':'Deaths'}, inplace = True) 
totalDeaths.head(50)

                  Deaths
Gender Age group
1      5             224
       6             781
       7            1913
       8            5229
       99            162
2      5             150
       6             466
       7            1299
       8            6797
       99            107
9      5               2
       6               2
       7               8
       8              27
       99              3

In [69]:
# Number NOT hospitalized
notHospitalized = covid19.loc[covid19['Hospital status']==3].groupby(['Gender','Age group'])[['Region']].count()
notHospitalized.rename(columns = {'Region':'Not Hospitalized'}, inplace = True) 
notHospitalized.head(50)

                  Not Hospitalized
Gender Age group
1      1                     40331
       2                     41370
       3                     35898
       4                     32123
       5                     27620
       6                     17264
       7                      8677
       8                      9013
       99                      120
2      1                     38557
       2                     42383
       3                     38430
       4                     36703
       5                     30548
       6                     17298
       7                      9712
       8                     20777
       99                       91
9      1                        34
       2                        88
       3                        49
       4                        45
       5                        21
       6                        17
       7                        11
       8                        42
       99                       20

In [70]:
# Hospitalized in the ICU or not in the ICU ... 
hospitalized = covid19.loc[(covid19['Hospital status']==1) | (covid19['Hospital status']==2)].groupby(['Gender','Age group'])[['Region']].count()
hospitalized.rename(columns = {'Region':'Hospitalized'}, inplace = True) 
hospitalized.head(50)

                  Hospitalized
Gender Age group
1      1                   273
       2                   446
       3                   831
       4                  1420
       5                  2687
       6                  3717
       7                  4438
       8                  5640
       99                  126
2      1                   267
       2                   667
       3                  1024
       4                  1114
       5                  1790
       6                  2460
       7                  3445
       8                  6959
       99                   88
9      1                     1
       3                     2
       4                     4
       5                     9
       6                     9
       7                    10
       8                    12
       99                    2

In [86]:
genderAge = pd.merge(totalCases, notHospitalized, on=['Gender','Age group'], how='outer')
genderAge = pd.merge(genderAge, hospitalized, on=['Gender','Age group'], how='outer')
genderAge = pd.merge(genderAge, totalDeaths, on=['Gender','Age group'], how='outer')

genderAge = genderAge.fillna(0)

genderAge['Hospitalized'] = genderAge['Hospitalized'].astype(int)
genderAge['Deaths'] = genderAge['Deaths'].astype(int)

genderAge['% Not Hospitalized'] = (genderAge['Not Hospitalized'] / genderAge['Cases']) * 100
genderAge['% Hospitalized'] = (genderAge['Hospitalized'] / genderAge['Cases']) * 100
genderAge['% Deaths'] = (genderAge['Deaths'] / genderAge['Cases']) * 100

genderAge.head(50)

                  Cases  Not Hospitalized  Hospitalized  Deaths  \
Gender Age group
1      1          53903             40331           273       0
       2          63043             41370           446       0
       3          51788             35898           831       0
       4          45882             32123          1420       0
       5          43090             27620          2687     224
       6          29234             17264          3717     781
       7          16690              8677          4438    1913
       8          17265              9013          5640    5229
       99           286               120           126     162
2      1          50978             38557           267       0
       2          61915             42383           667       0
       3          54192             38430          1024       0
       4          51919             36703          1114       0
       5          46262             30548          1790     150
       6          27548             17298          2460     466
       7          16944              9712          3445    1299
       8          33633             20777          6959    6797
       99           202                91            88     107
9      1            226                34             1       0
       2            334                88             0       0
       3            245                49             2       0
       4            212                45             4       0
       5            155                21             9       2
       6             93                17             9       2
       7             58                11            10       8
       8            106                42            12      27
       99            34                20             2       3

                  % Not Hospitalized  % Hospitalized   % Deaths
Gender Age group
1      1                   74.821439        0.506465   0.000000
       2                   65.621877        0.707454   0.000000
       3                   69.317216        1.604619   0.000000
       4                   70.012205        3.094896   0.000000
       5                   64.098399        6.235786   0.519842
       6                   59.054526       12.714647   2.671547
       7                   51.989215       26.590773  11.461953
       8                   52.203881       32.667246  30.286707
       99                  41.958042       44.055944  56.643357
2      1                   75.634587        0.523755   0.000000
       2                   68.453525        1.077283   0.000000
       3                   70.914526        1.889578   0.000000
       4                   70.692810        2.145650   0.000000
       5                   66.032597        3.869266   0.324240
       6                   62.792217        8.929868   1.691593
       7                   57.318225       20.331681   7.666431
       8                   61.775637       20.690988  20.209318
       99                  45.049505       43.564356  52.970297
9      1                   15.044248        0.442478   0.000000
       2                   26.347305        0.000000   0.000000
       3                   20.000000        0.816327   0.000000
       4                   21.226415        1.886792   0.000000
       5                   13.548387        5.806452   1.290323
       6                   18.279570        9.677419   2.150538
       7                   18.965517       17.241379  13.793103
       8                   39.622642       11.320755  25.471698
       99                  58.823529        5.882353   8.823529

In [87]:
# Cases 	Not Hospitalized 	Hospitalized 	Deaths 	% Not Hospitalized 	% Hospitalized 	% Deaths
genderAge2 = genderAge[['Cases', 'Not Hospitalized', '% Not Hospitalized', 'Hospitalized', '% Hospitalized', 'Deaths', '% Deaths']] 
genderAge2.head(50)

                  Cases  Not Hospitalized  % Not Hospitalized  Hospitalized  \
Gender Age group
1      1          53903             40331           74.821439           273
       2          63043             41370           65.621877           446
       3          51788             35898           69.317216           831
       4          45882             32123           70.012205          1420
       5          43090             27620           64.098399          2687
       6          29234             17264           59.054526          3717
       7          16690              8677           51.989215          4438
       8          17265              9013           52.203881          5640
       99           286               120           41.958042           126
2      1          50978             38557           75.634587           267
       2          61915             42383           68.453525           667
       3          54192             38430           70.914526          1024
       4          51919             36703           70.692810          1114
       5          46262             30548           66.032597          1790
       6          27548             17298           62.792217          2460
       7          16944              9712           57.318225          3445
       8          33633             20777           61.775637          6959
       99           202                91           45.049505            88
9      1            226                34           15.044248             1
       2            334                88           26.347305             0
       3            245                49           20.000000             2
       4            212                45           21.226415             4
       5            155                21           13.548387             9
       6             93                17           18.279570             9
       7             58                11           18.965517            10
       8            106                42           39.622642            12
       99            34                20           58.823529             2

                  % Hospitalized  Deaths   % Deaths
Gender Age group
1      1                0.506465       0   0.000000
       2                0.707454       0   0.000000
       3                1.604619       0   0.000000
       4                3.094896       0   0.000000
       5                6.235786     224   0.519842
       6               12.714647     781   2.671547
       7               26.590773    1913  11.461953
       8               32.667246    5229  30.286707
       99              44.055944     162  56.643357
2      1                0.523755       0   0.000000
       2                1.077283       0   0.000000
       3                1.889578       0   0.000000
       4                2.145650       0   0.000000
       5                3.869266     150   0.324240
       6                8.929868     466   1.691593
       7               20.331681    1299   7.666431
       8               20.690988    6797  20.209318
       99              43.564356     107  52.970297
9      1                0.442478       0   0.000000
       2                0.000000       0   0.000000
       3                0.816327       0   0.000000
       4                1.886792       0   0.000000
       5                5.806452       2   1.290323
       6                9.677419       2   2.150538
       7               17.241379       8  13.793103
       8               11.320755      27  25.471698
       99               5.882353       3   8.823529

In [5]:
covid19.describe()

,Case identifier number,Region,Episode week,Episode week group,Episode year,Gender,Age group,Occupation,Asymptomatic,Onset week of symptoms,...,"Symptom, pain","Symptom, irritability","Symptom, diarrhea","Symptom, other",Hospital status,Recovered,Recovery week,Recovery year,Death,Transmission
count,666237.000000,666237.000000,666237.000000,666237.000000,666237.000000,666237.000000,666237.000000,666237.000000,666237.000000,666237.000000,...,666237.000000,666237.000000,666237.000000,666237.000000,666237.000000,666237.000000,666237.000000,666237.000000,666237.000000,666237.000000
mean,333119.000000,3.065082,39.277676,0.000848,20.335687,1.533289,3.828603,4.805120,3.479197,54.771730,...,8.408310,8.856515,8.676411,7.220989,4.568703,1.775967,75.487852,67.034288,2.630649,3.857995
std,192326.199985,0.960657,16.593769,0.054632,4.617349,0.609806,3.395460,2.454336,2.961141,29.865739,...,2.084486,1.036073,1.558384,3.288426,2.726910,2.329210,29.483791,38.774581,2.054996,3.825749
min,1.000000,1.000000,1.000000,0.000000,20.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,20.000000,1.000000,1.000000
25%,166560.000000,2.000000,35.000000,0.000000,20.000000,1.000000,2.000000,4.000000,2.000000,40.000000,...,9.000000,9.000000,9.000000,9.000000,3.000000,1.000000,48.000000,20.000000,2.000000,1.000000
50%,333119.000000,3.000000,45.000000,0.000000,20.000000,2.000000,3.000000,4.000000,2.000000,48.000000,...,9.000000,9.000000,9.000000,9.000000,3.000000,1.000000,99.000000,99.000000,2.000000,1.000000
75%,499678.000000,4.000000,49.000000,0.000000,20.000000,2.000000,5.000000,4.000000,2.000000,99.000000,...,9.000000,9.000000,9.000000,9.000000,9.000000,1.000000,99.000000,99.000000,2.000000,9.000000
max,666237.000000,5.000000,99.000000,5.000000,99.000000,9.000000,99.000000,9.000000,9.000000,99.000000,...,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,99.000000,99.000000,9.000000,9.000000

Create dictionaries for some of the numeric fields.

In [6]:
region = { 1:'Atlantic (New Brunswick, Nova Scotia, Prince Edward Island, Newfoundland and Labrador)', 2:'Quebec', 3:'Ontario and Nunavut', 4:'Prairies (Manitoba, Saskatchewan, Alberta) and the Northwest Territories', 5:'British Columbia and Yukon'}
gender = {1:'Male', 2:'Female', 9:'Not Stated/Other'}
ageGroup = {1:'0-19', 2:'20-29', 3:'30-39', 4:'40-49', 5:'50-59', 6:'60-69', 7:'70-79', 8:'80+', 99:'Not Stated'}
occupation = {1:'Health Care Worker', 2:'School or daycare worker/attendee', 3:'Long Term Care Resident', 4:'Other', 9:'Not Stated'}
asymptomatic = {1:'Yes', 2:'No', 9:'Not Stated'}
sympton = {1:'Yes', 2:'No', 9:'Not Stated'}
hospitalStatus = {1:'Hospitalized - ICU', 2:'Hospitalized - Non-ICU', 3:'Not Hospitalized', 9:'Not Stated/Unknown'}
recovered = {1:'Yes', 2:'No', 9:'Not Stated/Unknown'}
death = {1:'Yes', 2:'No', 9:'Not Stated'}
transmission = {1:'Domestic Acquisition: “Contact of COVID Case” or “Contact with traveler” or “Unknown Source”', 2:'International Travel', 9:'Not Stated/Pending'}

In [7]:
allMales = covid19.loc[covid19['Gender']==1]
allFemales = covid19.loc[covid19['Gender']==2]
allGenderNotstated = covid19.loc[covid19['Gender']==9]
malesCount = len(allMales)
femalesCount = len(allFemales)
genderNotstatedCount = len(allGenderNotstated)

In [8]:
len(covid19) - (malesCount + femalesCount) == genderNotstatedCount

True

In [11]:
allMales['Row1'] = 1

<ipython-input-11-1afe53f17e0b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  allMales['Row1'] = 1

In [13]:
allMales.head(25)

,Case identifier number,Region,Episode week,Episode week group,Episode year,Gender,Age group,Occupation,Asymptomatic,Onset week of symptoms,...,"Symptom, irritability","Symptom, diarrhea","Symptom, other",Hospital status,Recovered,Recovery week,Recovery year,Death,Transmission,Row1
0,1,3,52,0,20,1,6,9,2,52,...,9,9,9,2,9,99,99,9,9,1
5,6,2,50,0,20,1,5,4,2,50,...,9,9,9,3,1,51,20,2,9,1
9,10,3,1,0,21,1,1,9,2,1,...,9,9,9,9,9,99,99,9,9,1
12,13,4,50,0,20,1,5,4,9,99,...,9,9,9,3,1,52,20,2,9,1
14,15,2,42,0,20,1,1,4,2,42,...,9,9,1,3,1,44,20,2,9,1
15,16,3,51,0,20,1,6,1,2,51,...,9,9,9,9,1,99,99,2,1,1
17,18,2,42,0,20,1,5,4,2,42,...,9,9,1,3,1,47,20,2,9,1
18,19,4,27,0,20,1,3,4,2,27,...,9,9,1,3,1,29,20,2,9,1
20,21,2,43,0,20,1,3,4,2,43,...,9,9,1,3,1,44,20,2,9,1
28,29,3,13,0,20,1,3,4,2,13,...,9,9,9,3,1,99,99,2,1,1
33,34,3,52,0,20,1,2,9,2,52,...,9,9,9,9,1,99,99,2,9,1
35,36,2,43,0,20,1,6,4,2,43,...,9,9,1,2,1,44,20,2,9,1
40,41,3,51,0,20,1,6,9,2,51,...,9,9,9,9,1,99,99,2,1,1
41,42,3,1,0,21,1,2,9,2,1,...,9,9,9,9,9,99,99,9,9,1
43,44,3,39,0,20,1,3,4,9,39,...,9,9,9,3,1,99,99,2,1,1
44,45,2,44,0,20,1,1,4,2,44,...,9,9,1,3,1,46,20,2,9,1
48,49,3,26,0,20,1,2,4,9,26,...,9,9,9,9,1,99,99,2,1,1
49,50,2,20,0,20,1,4,4,2,20,...,9,9,9,3,1,21,20,2,1,1
50,51,2,37,0,20,1,4,4,2,37,...,9,9,9,3,1,39,20,2,9,1
51,52,3,21,0,20,1,5,4,2,21,...,9,9,1,9,1,99,99,2,1,1
52,53,4,48,0,20,1,4,1,2,48,...,9,9,9,3,1,51,20,2,1,1
53,54,2,1,0,21,1,1,4,1,99,...,9,9,9,3,9,99,99,9,9,1
54,55,3,20,0,20,1,4,4,2,20,...,9,9,1,9,1,99,99,2,1,1
56,57,2,15,0,20,1,3,4,2,99,...,1,9,9,3,1,17,20,2,1,1
57,58,2,33,0,20,1,5,4,2,33,...,9,9,9,3,1,35,20,2,9,1

In [14]:
allMales.groupby('Age group').sum()

,Case identifier number,Region,Episode week,Episode week group,Episode year,Gender,Occupation,Asymptomatic,Onset week of symptoms,Onset year of symptoms,...,"Symptom, irritability","Symptom, diarrhea","Symptom, other",Hospital status,Recovered,Recovery week,Recovery year,Death,Transmission,Row1
Age group,,,,,,,,,,,,,,,,,,,,,
1,17935955822,165552,2258413,17,1101040,53903,275522,179060,3204073,2432464,...,480346,476192,386162,241204,93431,3962897,3345928,142393,235770,53903
2,20996734393,201192,2519472,80,1283020,63043,328769,240806,3457578,2594815,...,561023,552659,472036,315973,109627,4937254,4436750,166847,232102,63043
3,17260264716,166408,2057010,63,1051517,51788,257699,199623,2797825,2096571,...,459450,450292,376824,244729,88228,3928230,3478449,135461,194844,51788
4,15328696578,142521,1817101,29,931811,45882,224160,166100,2434180,1803200,...,406279,396417,330241,209940,76826,3387659,2974809,118840,182262,45882
5,14329741198,131556,1691547,45,875384,43090,215673,150034,2285202,1703985,...,381281,371502,313189,202509,74370,3253250,2902228,113130,166441,43090
6,9708824975,89074,1144983,43,593971,29234,150231,100886,1599571,1223086,...,258446,252405,211737,132319,52335,2249982,2028410,77217,109470,29234
7,5535831346,49574,641377,4,340833,16690,84955,54958,963934,775789,...,146882,144283,120377,65956,32723,1306986,1198297,43822,61431,16690
8,5744746317,48836,619314,2,353434,17265,83006,51589,1052517,900887,...,152068,151130,123424,61319,40822,1424926,1346862,45338,60102,17265
99,99480246,866,13808,13,6911,286,1422,921,17106,15203,...,2385,2340,1715,887,624,25068,24522,564,774,286

In [15]:
allMales.groupby('Age group').count()

,Case identifier number,Region,Episode week,Episode week group,Episode year,Gender,Occupation,Asymptomatic,Onset week of symptoms,Onset year of symptoms,...,"Symptom, irritability","Symptom, diarrhea","Symptom, other",Hospital status,Recovered,Recovery week,Recovery year,Death,Transmission,Row1
Age group,,,,,,,,,,,,,,,,,,,,,
1,53903,53903,53903,53903,53903,53903,53903,53903,53903,53903,...,53903,53903,53903,53903,53903,53903,53903,53903,53903,53903
2,63043,63043,63043,63043,63043,63043,63043,63043,63043,63043,...,63043,63043,63043,63043,63043,63043,63043,63043,63043,63043
3,51788,51788,51788,51788,51788,51788,51788,51788,51788,51788,...,51788,51788,51788,51788,51788,51788,51788,51788,51788,51788
4,45882,45882,45882,45882,45882,45882,45882,45882,45882,45882,...,45882,45882,45882,45882,45882,45882,45882,45882,45882,45882
5,43090,43090,43090,43090,43090,43090,43090,43090,43090,43090,...,43090,43090,43090,43090,43090,43090,43090,43090,43090,43090
6,29234,29234,29234,29234,29234,29234,29234,29234,29234,29234,...,29234,29234,29234,29234,29234,29234,29234,29234,29234,29234
7,16690,16690,16690,16690,16690,16690,16690,16690,16690,16690,...,16690,16690,16690,16690,16690,16690,16690,16690,16690,16690
8,17265,17265,17265,17265,17265,17265,17265,17265,17265,17265,...,17265,17265,17265,17265,17265,17265,17265,17265,17265,17265
99,286,286,286,286,286,286,286,286,286,286,...,286,286,286,286,286,286,286,286,286,286

In [21]:
allMales.groupby(['Gender','Age group']).count()

                  Case identifier number  Region  Episode week  \
Gender Age group
1      1                           53903   53903         53903
       2                           63043   63043         63043
       3                           51788   51788         51788
       4                           45882   45882         45882
       5                           43090   43090         43090
       6                           29234   29234         29234
       7                           16690   16690         16690
       8                           17265   17265         17265
       99                            286     286           286

                  Episode week group  Episode year  Occupation  Asymptomatic  \
Gender Age group
1      1                       53903         53903       53903         53903
       2                       63043         63043       63043         63043
       3                       51788         51788       51788         51788
       4                       45882         45882       45882         45882
       5                       43090         43090       43090         43090
       6                       29234         29234       29234         29234
       7                       16690         16690       16690         16690
       8                       17265         17265       17265         17265
       99                        286           286         286           286

                  Onset week of symptoms  Onset year of symptoms  \
Gender Age group
1      1                           53903                   53903
       2                           63043                   63043
       3                           51788                   51788
       4                           45882                   45882
       5                           43090                   43090
       6                           29234                   29234
       7                           16690                   16690
       8                           17265                   17265
       99                            286                     286

                  Symptom, cough  ...  Symptom, irritability  \
Gender Age group                  ...
1      1                   53903  ...                  53903
       2                   63043  ...                  63043
       3                   51788  ...                  51788
       4                   45882  ...                  45882
       5                   43090  ...                  43090
       6                   29234  ...                  29234
       7                   16690  ...                  16690
       8                   17265  ...                  17265
       99                    286  ...                    286

                  Symptom, diarrhea  Symptom, other  Hospital status  \
Gender Age group
1      1                      53903           53903            53903
       2                      63043           63043            63043
       3                      51788           51788            51788
       4                      45882           45882            45882
       5                      43090           43090            43090
       6                      29234           29234            29234
       7                      16690           16690            16690
       8                      17265           17265            17265
       99                       286             286              286

                  Recovered  Recovery week  Recovery year  Death  \
Gender Age group
1      1              53903          53903          53903  53903
       2              63043          63043          63043  63043
       3              51788          51788          51788  51788
       4              45882          45882          45882  45882
       5              43090          43090          43090  43090
       6              29234          29234          29234  29234
       7              16690          16690          16690  16690
       8              17265          17265          17265  17265
       99               286            286            286    286

                  Transmission   Row1
Gender Age group
1      1                 53903  53903
       2                 63043  63043
       3                 51788  51788
       4                 45882  45882
       5                 43090  43090
       6                 29234  29234
       7                 16690  16690
       8                 17265  17265
       99                  286    286

[9 rows x 29 columns]