### YR_CaseData.csv

https://www.york.ca/wps/portal/yorkhome/health/yr/covid-19/covid19inyorkregion

In [1]:
import numpy as np
import pandas as pd
import matplotlib as mpl
np.__version__, pd.__version__, mpl.__version__
# ('1.19.2', '1.2.2')

('1.19.2', '1.2.2', '3.3.4')

In [2]:
yyyymmdd = '2021-03-07'
yyyymmdd = '2021-03-10'
csvFileName = 'data/YR_CaseData-' +  yyyymmdd + '.csv'
yrCaseData = pd.read_csv(csvFileName, 
                         header=0, 
                         index_col='Case Count',
                         parse_dates=['Date Reported','Estimated Date of Onset'])

In [6]:
createDb = True

if createDb:
    
    import sqlite3
    # Connect to SQLite database 
    conn = sqlite3.connect(r'YR_CaseData.db') 
    # Load CSV data into Pandas DataFrame 
    yrCaseData.to_sql(yyyymmdd, conn, if_exists='replace', index=False) 
    # Close connection to SQLite database 
    conn.close()

/home/rob/anaconda3/envs/covid19/lib/python3.8/site-packages/pandas/core/generic.py:2778: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

In [4]:
yrCaseData.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 29846 entries, 1 to 29846
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Gender                   29846 non-null  object
 1   Age Decade               29846 non-null  object
 2   Municipality             29846 non-null  object
 3   Community                29846 non-null  object
 4   Date Reported            29846 non-null  datetime64[ns]
 5   Estimated Date of Onset  29846 non-null  datetime64[ns]
 6   Acquisition              29846 non-null  object
 7   Status                   29846 non-null  object
dtypes: datetime64[ns](2), object(6)
memory usage: 2.0+ MB

In [5]:
yrCaseData.head(10)

,Gender,Age Decade,Municipality,Community,Date Reported,Estimated Date of Onset,Acquisition,Status
Case Count,,,,,,,,
1,Female,30s,Richmond Hill,Richmond Hill,2020-02-29,2020-02-27,Travel,Resolved
2,Female,60s,Richmond Hill,Richmond Hill,2020-03-02,2020-02-29,Travel,Resolved
3,Female,70s,Richmond Hill,Richmond Hill,2020-03-03,2020-02-29,Travel,Resolved
4,Male,40s,Richmond Hill,Richmond Hill,2020-03-04,2020-02-28,Travel,Resolved
5,Female,70s,Newmarket,Newmarket,2020-03-04,2020-02-29,Travel,Resolved
6,Male,50s,Vaughan,Maple,2020-03-04,2020-02-27,Travel,Resolved
7,Female,60s,Richmond Hill,Richmond Hill,2020-03-06,2020-02-28,Travel,Resolved
8,Female,30s,Vaughan,Maple,2020-03-11,2020-03-06,Travel,Resolved
9,Female,20s,Vaughan,Maple,2020-03-13,2020-03-08,Travel,Resolved
10,Female,60s,Vaughan,Maple,2020-03-15,2020-03-10,Travel,Resolved

In [ ]:
for column in enumerate(['Gender', 'Age Decade', 'Municipality', 'Community', 'Acquisition', 'Status']):
    print(column[1], '=>', yrCaseData[column[1]].unique().tolist())