In [1]:
import numpy as np
import pandas as pd
np.__version__, pd.__version__

('1.19.2', '1.2.2')

In [2]:
# https://data.ontario.ca/dataset/confirmed-positive-cases-of-covid-19-in-ontario
csvName = 'data/conposcovidloc-2021-02-20'
conposcovidloc = pd.read_csv(csvName + '.csv', header=0, index_col='Row_ID')

In [ ]:
# https://www.geeksforgeeks.org/creating-a-sqlite-database-from-csv-with-python/

# Import required libraries 
import sqlite3 
import pandas as pd 

# Connect to SQLite database 
conn = sqlite3.connect(r'conposcovidloc.db') 

# Load CSV data into Pandas DataFrame 
# stud_data = pd.read_csv('stud_data.csv') 
# Write the data to a sqlite table 
conposcovidloc.to_sql(csvName, conn, if_exists='replace', index=True) 

# Create a cursor object 
# cur = conn.cursor()
# Fetch and display result 
# for row in cur.execute('SELECT * FROM covid'): 
# 	print(row) 
# Close connection to SQLite database 
conn.close()

In [ ]:
conposcovidloc.head(10)

In [ ]:
conposcovidloc.count()

In [ ]:
conposcovidloc.Client_Gender.unique()

In [ ]:
len(conposcovidloc.Client_Gender.unique())

In [ ]:
conposcovidloc.Outcome1.unique()

In [ ]:
conposcovidloc.Age_Group.unique()

In [ ]:
conposcovidloc.Case_AcquisitionInfo.unique()

In [ ]:
conposcovidloc.Reporting_PHU_ID.unique()

In [ ]:
len(conposcovidloc.Reporting_PHU_ID.unique())

In [ ]:
conposcovidloc.Outbreak_Related.unique()

## Number of cases by day:

In [3]:
caseCountByDay = conposcovidloc.groupby(['Accurate_Episode_Date'])[['Case_Reported_Date']].count()
caseCountByDay.rename(columns = {'Case_Reported_Date':'CaseCount'}, inplace = True) 
caseCountByDay['EpisodeDate'] = pd.to_datetime(caseCountByDay.index, format='%Y-%m-%d')
caseCountByDay['EpisodeYear'] = caseCountByDay['EpisodeDate'].dt.year
caseCountByDay['EpisodeWeek'] = caseCountByDay['EpisodeDate'].dt.isocalendar().week
caseCountByDay.head(10)

                       CaseCount EpisodeDate  EpisodeYear  EpisodeWeek
Accurate_Episode_Date
2020-01-01                     3  2020-01-01         2020            1
2020-01-05                     1  2020-01-05         2020            1
2020-01-09                     1  2020-01-09         2020            2
2020-01-10                     1  2020-01-10         2020            2
2020-01-12                     1  2020-01-12         2020            2
2020-01-13                     1  2020-01-13         2020            3
2020-01-15                     1  2020-01-15         2020            3
2020-01-16                     1  2020-01-16         2020            3
2020-01-21                     2  2020-01-21         2020            4
2020-01-22                     3  2020-01-22         2020            4

In [4]:
caseCountByWeek = caseCountByDay.groupby(['EpisodeYear','EpisodeWeek']).sum(['CaseCount'])
caseCountByWeek.head(60)

                         CaseCount
EpisodeYear EpisodeWeek
2020        1                    4
            2                    3
            3                    3
            4                    9
            5                    5
            6                    2
            7                    7
            8                   18
            9                   44
            10                 185
            11                 890
            12                1966
            13                2141
            14                2749
            15                3284
            16                3988
            17                3118
            18                2711
            19                2192
            20                2500
            21                2350
            22                2040
            23                1643
            24                1236
            25                1201
            26                1119
            27                 808
            28                 993
            29                1006
            30                 830
            31                 666
            32                 588
            33                 689
            34                 823
            35                 938
            36                1326
            37                2119
            38                3301
            39                4650
            40                4649
            41                4889
            42                5210
            43                6234
            44                6664
            45                9994
            46               10217
            47               10726
            48               12714
            49               13532
            50               14970
            51               16191
            52               19362
            53               13258
2021        1                21234
            2                17351
            3                13568
            4                10334
            5                 8488
            6                 6560
            7                 2432

In [5]:
caseCountByDay.info()

<class 'pandas.core.frame.DataFrame'>
Index: 393 entries, 2020-01-01 to 2021-02-19
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   CaseCount    393 non-null    int64
 1   EpisodeDate  393 non-null    datetime64[ns]
 2   EpisodeYear  393 non-null    int64
 3   EpisodeWeek  393 non-null    UInt32
dtypes: UInt32(1), datetime64[ns](1), int64(2)
memory usage: 14.2+ KB

In [8]:
caseCountByDay['EpisodeDate'] = caseCountByDay.index

In [12]:
caseCountByDay.head(10)

                       CaseCount EpisodeDate Episode_Date
Accurate_Episode_Date
2020-01-01                     3  2020-01-01   2020-01-01
2020-01-05                     1  2020-01-05   2020-01-05
2020-01-09                     1  2020-01-09   2020-01-09
2020-01-10                     1  2020-01-10   2020-01-10
2020-01-12                     1  2020-01-12   2020-01-12
2020-01-13                     1  2020-01-13   2020-01-13
2020-01-16                     1  2020-01-16   2020-01-16
2020-01-21                     2  2020-01-21   2020-01-21
2020-01-22                     3  2020-01-22   2020-01-22
2020-01-24                     2  2020-01-24   2020-01-24

In [11]:
caseCountByDay['Episode_Date'] =  pd.to_datetime(caseCountByDay['EpisodeDate'], format='%Y-%m-%d')

In [ ]:
caseCountByDay['EpisodeDate'] = pd.to_datetime(caseCountByDay['Accurate_Episode_Date'], format='%Y-%m-%d')
caseCountByDay.head(10)

In [ ]:
caseCountByDay = conposcovidloc.groupby(['Accurate_Episode_Date'])[['Accurate_Episode_Date']].count()

In [14]:
caseCountByDay.head(10)

                       CaseCount EpisodeDate Episode_Date
Accurate_Episode_Date
2020-01-01                     3  2020-01-01   2020-01-01
2020-01-05                     1  2020-01-05   2020-01-05
2020-01-09                     1  2020-01-09   2020-01-09
2020-01-10                     1  2020-01-10   2020-01-10
2020-01-12                     1  2020-01-12   2020-01-12
2020-01-13                     1  2020-01-13   2020-01-13
2020-01-16                     1  2020-01-16   2020-01-16
2020-01-21                     2  2020-01-21   2020-01-21
2020-01-22                     3  2020-01-22   2020-01-22
2020-01-24                     2  2020-01-24   2020-01-24

## Number of cases by week:

In [ ]:
# %d%m%Y
caseCountByDay['AccurateEpisodeDate'] = pd.to_datetime(caseCountByDay['Accurate_Episode_Date'], format='%Y-%m-%d')

In [ ]:
caseCountByDay.head(10)